/* Koden er hentet og modifisert til vårt bruk fra: 
https://github.com/jwplayer/jwdeveloper-demos/tree/master/demos/innovation/interactive-transcripts */

#player-container {
  width: 99%;
  position: relative;
  height: 400px;
}

#player {
  position: absolute;
  left: 17px;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 4px;
  width: 480px;
  height: 360px;
  background-color: #475470;
  font-family: Arial, sans-serif;
}
#sidebar h3 {
  padding: 20px;
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
}
#searchbox {
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
}
#searchbox input {
  display: block;
  line-height: 20px;
  font-size: 13px;
  color: #000;
  width: 440px;
  padding: 5px 20px 5px 30px;
  background: #d9dde6 url('//s3.amazonaws.com/demo.jwplayer.com/interactive-transcript/search.png') no-repeat top left;
  border-radius: 3px;
  border: none;
}
#searchbox span {
  position: absolute;
  right: 10px;
  top: 6px;
  line-height: 20px;
  font-size: 13px;
  color: #000;
}
#transcript {
  height: 280px;
  width: 473px;
  overflow: hidden;
  padding: 0 20px;
  margin-top: 60px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#transcript p {
  margin: 0 0 10px 0;
  width: auto;
  text-align: left;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}
#transcript span {
  display: inline;
  padding: 4px 2px;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
}
#transcript span.current {
  background: #00784b;
  color: #000;
}
#transcript span:hover {
  color: #00f096;
}
#transcript span em {
  font-style: normal;
  background: #666;
  color: #FFF;
}
#transcript span em.current {
  background: #ff0046;
}

#transcript h4 {
  margin: 0 0 5px 0;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

ol {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
  font-weight: 400;
}

ol li {
  text-align: left;
  padding: 10px 0;
}