/*
    Navbar padding
*/
body
{
  margin-bottom: 60px;
  padding-top: 20px;
}

/*
    Footer
*/
.footer
{
  padding-top: 5px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}

/*
    Margin between search results
*/
.list-group-item
{
    margin: 10px;
}

/*
    Footer
*/
#footerlinks
{
    margin: 3px;
}

/*
    Dropdown menu style
*/
.dropdown-menu
{
    padding: 15px;
    min-width: 300px;
}

/*
    Video upload form
*/
.upload
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}