<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">Create new user</div>
<div class="panel-body" style="padding-left: 50px; padding-right: 50px;">
    <form class="form-horizontal" role="form" method="post" action="#">
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="userclass">Role</label>
            <div class="radio">
                <label class="radio-inline"><input type="radio" id="student" name="userclass" checked="checked" value="student">Student</label>
                <label class="radio-inline"><input type="radio" id="foreleser" name="userclass" value="foreleser">Lecturer</label>
                <label class="radio-inline"><input type="radio" id="admin" name="userclass" value="admin">Admin</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg" name="createuserbtn">Create</button>
    </form>
</div>
</div>
</div>
    
<div class="col-md-6">
<div class="panel panel-default" style="max-height: 800px; overflow: auto;">
<div class="panel-heading">Delete user</div>
<div class="panel-body">
    <table class="table">
        <thead>
            <tr>
                <th>E-Mail</th>
                <th>Username</th>
                <th>Role</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
<div class="alert" id="adminalert" style="display: none;">Test</div>