<h4>Playlists</h4>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Create new playlist</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
            <form id="plForm">
                <div class="form-group">
                    <label for="title">Name:</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="5" name="description" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create Playlist</button>
            </form>    
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="playlists">
    <div class="panel-heading">My Playlists</div>
    <div class="panel-body">
    <ul class="list-group list-unstyled row" style="margin-left: auto; margin-right: auto;">
        
    </ul>
    </div>
</div>
<div class="alert" style="display: none;"></div>