<h2>Test</h2>

<!-- LAGT TIL FOR DEBUG FØR IMPLEMENTERT MED PROSJEKTET. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<button type="button" class="btn" id="getStat"   >Get stats</button>
<button type="button" class="btn" id="updateStat">Update stats</button>



<!--
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_table_basic&stacked=h
-->

<div class="container">           
  <table id="table" class="hidden">
    <thead>
      <tr>
        <th>video</th>
        <th>username</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

</body>
</html>


<!--
emmneKode
-->
<div class="form-group">
  <label for="emmneKode">Emmne kode</label>
  <select class="form-control" id="emmneKode">
    
  </select>
</div>

<!--
videoID
-->
<div class="form-group">
  <label for="vidID">Video</label>
  <select class="form-control" id="vidID" multiple>
    
  </select>
</div>


<script>

$.ajax({
	url: 'server/php/videoStats.php?function=getVid',
	// type: 'POST',
    cache: false,
    dataType: 'json',
    processData: false,
    contentType: false,
	success: function(data)
    {
		//http://stackoverflow.com/questions/19901843/display-json-data-in-html-table
		console.log(data);
		if(data){
            var len = data.length;
            var txt = "";
            if(len > 0){
                for(var i=0;i<len;i++){
                    if(data[i].title && data[i].videoid){
                        txt += "<option value='" +data[i].videoid+ "' >"+data[i].title+"</option>";
                    }
                }
                if(txt != ""){
                    $("#vidID").append(txt);
                }
            }
        }
	}
});


$.ajax({
	url: 'server/php/videoStats.php?function=getEK',
	// type: 'POST',
    cache: false,
    dataType: 'json',
    processData: false,
    contentType: false,
	success: function(data)
    {
		//http://stackoverflow.com/questions/19901843/display-json-data-in-html-table
		console.log(data);
		if(data){
            var len = data.length;
            var txt = "";
            if(len > 0){
                for(var i=0;i<len;i++){
                    if(data[i].emnekode){
                        txt += "<option>"+data[i].emnekode+"</option>";
                    }
                }
                if(txt != ""){
                    $("#emmneKode").append(txt);
                }
            }
        }
	}
});


var testVid = 2;
$("#getStat").on('click', function(e)
{
var testVid = new Array(1,2);
	testForm = new FormData();
	testEk = $('#emmneKode').val();
	testVid = $('#vidID').val();
	console.log(testVid);
	testForm.append('videoID', testVid);
	testForm.append('emmneKode', testEk);
    console.log('BTN PRESS!!!');
	$.ajax({
		url: 'server/php/videoStats.php?function=getStats',
		type: 'POST',
        data: testForm,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
		success: function(data)
        {
            //console.log(response);
			//data = response;
			//http://stackoverflow.com/questions/19901843/display-json-data-in-html-table
			console.log(data);
			if(data){
                var len = data.length;
                var txt = "";
                if(len > 0){
                    for(var i=0;i<len;i++){
                        if(data[i].title && data[i].username){
                            txt += "<tr><td>"+data[i].title+"</td><td>"+data[i].username+"</td></tr>";
                        }
                    }
                    if(txt != ""){
						$("#table > tbody").empty();
                        $("#table").append(txt).removeClass("hidden");
						$("#table").addClass("table");
                    }
                }
            }
		}
	});
	delete testForm;
});


$("#updateStat").on('click', function(e)
{
	testForm = new FormData();
	testForm.append('videoID', testVid);
	//testForm.append('userID', testUid);
    console.log('BTN PRESS!!!');
	$.ajax({
		url: 'server/php/videoStats.php?function=updateStats',
		type: 'POST',
        data: testForm,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
	});
	delete testForm;
});

</script>