<div class="row">

    <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Upload video</div>
        <div class="panel-body upload">
            <div id="vidUpload">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" maxlength="30" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="5" class="form-control" id="description" name="description" maxlength="255" style="resize: none;" required></textarea>
                </div>
                <div class="form-group">
                    <label for="videofile">Video file:</label>
                    <input type="file" class="btn btn-block" id="videoFile" name="videoFile">
                    <p class="form-text text-muted">Max video size: 120Mb</p>
                </div>
                <div class="form-group">
                    <label for="thumbfile">Thumbnail (required):</label>
                    <input type="file" class="btn btn-block" id="thumbFile" name="thumbFile">
                    <div id="preview" class="thumbnail" style="display: none;"><img src="#" alt="Video Thumbnail"></div>
                    <p class="form-text text-muted">Max thumbnail size: 10Mb</p>
                </div>
            </div>
            <div class="alert alert-danger" style="display: none;"></div>
        </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Add subtitles (optional)</div>
        <div class="panel-body upload">
            <div id="subUpload">
                <div class="form-group form-inline" id="subUpload">
                    <p class="form-text text-muted">Only .vtt files supported. Max size: 1Mb</p>
                    <label for="captionFile">Captions: </label>
                    <input type="file" class="btn" name="captionFile[]">
                    <label for="chapterFile">Chapters: </label>
                    <input type="file" class="btn" name="chapterFile[]">
                    <label for="subLang">Language:</label>
                    <select class="form-control" name="subLang[]">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="alert alert-danger" style="display: none;"></div>
        </div>
    </div>
    </div>
</div>

<div class="progress" style="display: none;">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
</div>

<div class="row text-center" style="padding-bottom: 20px;">
    <button class="btn btn-primary btn-lg" id="uploadBtn" style="width: 50%;">Upload</button>
    <div class="alert" style="display: none;"></div>
</div>