<!--Dette er tekst editoren for vårt prosjekt.-->
<!--Dropdown for valg av språk.-->
<!--<div class="dropdown">-->
<div class="btn-group">
    <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-floppy-disk"> <span class="caret"></span></button>
    <ul class="dropdown-menu" id="#vttLanguage">
      <li><a href="#" id="NorBM">Norwegian (Bokmål) </a></li>
      <li><a href="#" id="NorNy">Norwegian (Nynorsk)</a></li>
      <li><a href="#" id="EnUK" >English (UK)       </a></li>
      <li><a href="#" id="EnUS" >English (US)       </a></li>
 <!-- <li><a href="#" id="Ch"   >Chinese            </a></li>
      <li><a href="#" id="Span" >Spanish            </a></li>
      <li><a href="#" id="Swe"  >Sweedish           </a></li>
      <li><a href="#" id="Dan"  >Danish             </a></li>-->
      <li><a href="#" id="Jap"  >Japanese           </a></li>
      <li><a href="#" id="Ger"  >Tysk               </a></li>
    </ul>
    </div>

<!--Knappe-rekke-->
    <button type="button" class="btn btn-primary" id="add_timestamp">Hent tidspunkt</button>
    <button type="button" class="btn btn-primary" id="play"><span class="glyphicon glyphicon-play"></span></button>
    <button type="button" class="btn btn-primary" id="pause"><span class="glyphicon glyphicon-pause"></span></button>
    <button type="button" class="btn btn-primary" id="force_stop"><span class="glyphicon glyphicon-stop"></span></button>
    <button type="button" class="btn btn-primary" id="edit_existing">Editer eksisterende</button>
</div>

<!--Textarea-->
    <form>
        <div class="form-group">
        <textarea class="form-control" id="textarea" rows="6" placeholder="Teksteditoren var ment å åpnes i video fremvisningssiden." required></textarea>
        </div>
    </form>

<!--jQuery funksjoner-->
<script>

////////////////////////////////////////////////////////////////
// Variabler                                                  //
////////////////////////////////////////////////////////////////
var filetype = ".vtt";  // Variabel som inneholder filtype.


////////////////////////////////////////////////////////////////
//Stamp .vtt fil på toppen                                    //
////////////////////////////////////////////////////////////////
$('textarea').val($('textarea').val()+"WEBVTT"+"\n\n");

////////////////////////////////////////////////////////////////
//Legg til timestamp                                          //
////////////////////////////////////////////////////////////////
$("#add_timestamp").click(function()
{
    //Variabler for timetall i vtt fil.
    var hours    = 0;   //Fra  tidspunkt.
    var minutes  = 0;   //Fra  tidspunkt.
    var seconds  = 0;   //Fra  tispunktd.
    var tHours   = 0;   //Till tispunktd.
    var tMinutes = 0;   //Till tispunktd.
    var tSeconds = 0;   //Till tispunktd.
    var jump     = 2;   //Sekunder mellom "fra" og "til" tidspunkt. (Kan endres av bruker).
    var position;       //Seeker posisjon i videoen.

    //Henter tidspunktet videoen er på:
    //var buffer    = 0;
    //buffer        = jwplayer().getPosition();
    var position = jwplayer().getPosition();

    //Tell opp minutter
    while (position > 59)
    {
        position -= 59;
        minutes++;
    }
    //Tell opp timer
    while (minutes > 59)
    {
        minutes -= 59;
        hours++;
    }

    //Kutter bort tusendelssekunder for å passe .vtt format.
    seconds = position.toFixed(3);
  
    //Forsikkre at minutter har 2 tall:
    if (minutes < 10)
        minutes = "0"+minutes;
  
    //Forsikkre at timer har 2 tall:
    if (hours < 10)
        hours = "0"+hours;

    //Legger til jump tid: (her legges også funksjonalitet for å spesifisere jump tid).
    jump += jwplayer().getPosition();

    //Tell opp minutter
    while (jump > 59)
    {
        jump -= 59;
        tMinutes++;
    }
    //Tell opp timer
    while (minutes > 59)
    {
      minutes -= 59;
      tHours++;
    }
    //Kutter bort tusendelsekunder for å passe .vtt format.
    jump = jump.toFixed(3);

    //Forsikkre at minutter har 2 tall:
    if (minutes < 10)
        tMinutes = "0"+tMinutes;
  
    //Forsikkre at timer har 2 tall:
    if (hours < 10)
        tHours = "0"+tHours;

    //var test = $('#textarea').text;
    //alert(test);
    $('textarea').val($('textarea').val()+hours+":"+minutes+":"+seconds+"->"+tHours+":"+tMinutes+":"+jump+"\n");   
});

// Editor knapp for å starte video..
$("#play").click(function()
{
    jwplayer().play(1);
});

// Editor knapp for å tvinge stopp/ stoppe video.
$("#force_stop").click(function()
{
    jwplayer().stop(0);
});

// Editor knapp for å pause video.
$("#pause").click(function()
{
    jwplayer().play(0);
});

// Editor knapp for å lagre .vtt filen.
$(".dropdown-menu").find("a").click(function()
{
    // Variabel som inneholder språket (og navnet) på subtitles (filen).
    var language;
    // Variabel som inneholder filtype.
    //var filetype = ".vtt";
	
    // Setter språk. Dette blir navnet på filen: språk.vtt.
    switch (this.id)
    {
          case 'NorBM': language = "caption_NO"; break;
        //case 'NorNy': language = "caption_NO"; break;
          case 'EnUK' : language = "caption_EN"; break;
        //case 'EnUS' : language = "caption_EN"; break;
        //case 'Ch'   : language = "caption_CH"; break;
        //case 'Span' : language = "caption_SP"; break;
        //case 'Swe'  : language = "caption_SW"; break;
        //case 'Dan'  : language = "caption_DA"; break;
          case 'Jap'  : language = "caption_JP"; break;
          case 'Ger'  : language = "caption_DE"; break;
    }
	
    // Debug: (Tester om innholdet blir språkvariabelen blir satt).
    console.log("(Skrevet fra client side: Språk valgt av bruker: " + language);
	
    // Henter ut verdien i fra tekstfeltet og lagrer dette i en variabel.
    var js_vtt_var = $('#textarea').val();

    // Debug:
    console.log(video);
    
    // Sender filen til server.
    $.ajax({
        url: 'server/php/uploadVtt.php', 
        type: "POST",
        data: ({filename: language, filetype: filetype, videoID: video, contents: js_vtt_var}),
        success: function(data)
	{
            console.log(data);
            $("#textarea").html("Cc er lagret.");
        },
	error: function(data)
	{
            console.log(data);
	}
    });

});
// Editor save button ferdig.

// Load eksisterende .vtt
$("#edit_existing").click(function()
{
    var index;           // Brukes til å velge edit options. (Valg av filer).

    $.ajax({
        url: 'server/php/editVtt.php',
        dataType: "json",
        type: "POST",
        data: ({filetype: filetype, videoID: video}),
        success: function(data)
        {
            // Koden under er hentet i fra:
            // http://stackoverflow.com/questions/317095/how-do-i-add-options-to-a-dropdownlist-using-jquery
            // store forandringer har blitt gjort for å tilpasse det til vårt formål.
            $("#edit_existing > option").remove();
            $.each(data, function(i, text)
            { 
                $("#edit_existing").append(
                    //$('<option id="' + i + '"></option>').val(text).html(text)
                    //$('<option value="'+text+'">'+text+'</option>')//.val(text).html(text)
                    $('<option id="' + text + '"></option>').val(text).html(text)
                );
             });
             
             // Henter og dumper innhold fra vtt fil.
             $('#edit_existing').on('click', 'option', function (event)
             {
                 //event.preventDefault();
                 //var index = this.id;
                 
                 filename = this.id;

                 console.log("ID er: ");
                 console.log(index);
		 //console.log($("#edit_existing"));
                 //var filename = $("#index").html(); // Henter navnet på den filen bruker trykket på.
                 //var filename = this.val();
 
                 // DEBUG
                 //var consoleLogData = "VERDIEN FILENAME I AJAX: " . $filename;
                 //console.log("Start!ajax2");
                 //console.log(filename);
                 //console.log("Slutt!ajax2");
                 // Ajax for å hente innholdet i den aktuelle filen bruker valgte.
                 $.ajax({
                     url: 'server/php/loadVtt.php',
                     dataType: "json",
                     type: "POST",
                     data: ({filename: filename, videoID: video, filetype: filetype}),
                     success: function(data)
                     {
                         //console.log(data);
                         // Dersom innholdet i filen er mottat, vil det her legges inn i text area.
                         $("#textarea").val(data);
                     }, 
                     error: function(data)
                     {
                         console.log("FAILED!!");
                         console.log(data);
                     }
                 });
              });
              // Hente innholdet i fil nå ferdig.
         },
         error: function(data)
         {
             console.log(data);
         }
     });
});
</script>
